/* global style  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

header {
    min-height: 80px;
    background: #FFF4E6;
}


/* utility style */

.container {
    margin: 0 auto;
    max-width: 1285px;
}

.container-fluid {
    margin: 0 auto;
    max-width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    list-style: none;
}

ul.flex-container {
    display: flex;
    flex-direction: row;
}

a {
    color: black;
}

a:hover {
    color: #FE8801;
}

section {
    font-size: 30px;
}

section p {
    width: 500px;
    font-size: 12px;
    line-height: 1.6;
}

.button {
    width: 120px;
    height: 35px;
    background-color: #42C2B2;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: small;
}

main .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20em;
}

aside img {
    width: 450px;
    height: 250px;
}

article .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article h1 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    line-height: 83.13px;
}

article p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    width: 600px;
}

article img {
    width: 1150px;
    height: 100px;
}

footer.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    height: 170px;
    background: #FFF4E6;
}

.logo {
    height: 50px;
}

.icons {
    height: 20px;
}

.date {
    height: 20px;
}