    /* fonts config */
    
    @font-face {
        font-family: Poppins;
        src: url(./asset/Poppins-Regular.ttf);
    }
    /* global style  */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Poppins, sans-serif;
        scroll-behavior: smooth;
    }
    
    header {
        min-height: 80px;
        background: #FFF4E6;
    }
    /* utility style */
    
    .container {
        margin: 0 auto;
        max-width: 1285px;
    }
    
    .container-fluid {
        margin: 0 auto;
        max-width: 100%;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2em;
        list-style: none;
    }
    
    .nav-link {
        color: black;
        text-decoration: none;
    }
    
    .nav-link:hover {
        color: yellowgreen;
    }
    
    .padding_top_nav {
        padding: 50px;
    }
    
    .padding_section {
        padding: 70px 0px;
    }
    
    section {
        font-size: 60px;
        line-height: 140px;
    }
    
    section h1 {
        line-height: 100px;
    }
    
    section p {
        max-width: 500px;
        font-size: 16px;
        line-height: 26px;
        padding: 20px 0px 0px 0px;
    }
    
    .button {
        min-width: 224px;
        min-height: 61px;
        background-color: #42C2B2;
        border: none;
        color: white;
        border-radius: 10px 10px 10px 10px;
        font-size: 18px;
        font-weight: 400;
        line-height: 20.17px;
    }
    
    main .flex-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 8em;
    }
    
    aside img {
        max-width: 628px;
        max-height: 400px;
    }
    
    article {
        padding: 100px 80px 0px 0px;
    }
    
    article img {
        max-width: 250px;
        max-height: 300px;
    }
    
    article h1 {
        font-size: 55.42px;
        font-weight: 400;
        line-height: 83.13px;
    }
    
    article p {
        font-size: 16px;
        font-weight: 400;
        max-width: 900px;
        min-width: 300px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
        padding: 40px 0px 0px 0px;
    }
    
    footer .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    
    footer {
        max-width: 1920px;
        max-height: 250px;
        opacity: 0px;
        background-color: #FFF4E6;
        padding: 50px;
    }
    
    .footer_padding {
        padding: 180px 0px 0px 0px;
    }
    
    .logo {
        max-height: 50px;
    }
    
    .icons {
        max-height: 20px;
    }
    
    .date {
        max-height: 20px;
    }
    /* mediaquery */
    
    @media screen and (max-width: 1400px) {
        .grid-container {
            grid-template-columns: repeat(4, 1fr);
            text-align: center;
        }
    }
    
    @media screen and (max-width: 1200px) {
        .grid-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    @media screen and (max-width: 992px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
        }
    }
    
    @media screen and (max-width: 768px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
        }
    }
    
    @media screen and (max-width: 576px) {
        .grid-container {
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
            justify-content: center;
        }
    }
    
    @media (max-width: 800px) {
        main .flex-container {
            flex-direction: column;
            text-align: center;
        }
    }